<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="uni.minesweeper">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity android:name=".activities.MenuActivity" android:screenOrientation="portrait" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.play.IntroActivity" android:screenOrientation="portrait" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.RankingActivity" android:screenOrientation="portrait" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.auth.RegisterActivity" android:screenOrientation="portrait" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.play.PlayActivity" android:screenOrientation="portrait" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.auth.LoginActivity" android:screenOrientation="portrait" android:exported="true" tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>